* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Semibold";
    src: url("../Fonts/GraphikLCG-Semibold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Regular";
    src: url("../Fonts/GraphikLCG-Regular.ttf");
    font-weight: 400;
}


/* HEADER */

.fixsizeme {
    max-width: 1290px;
    margin: 0 auto;
    padding-right: 5px;
    padding-left: 5px;
}

.fix-size-container {
    max-width: 1290px;
    margin: 0 auto;
    padding-right: 5px;
    padding-left: 5px;
}

.login_header{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    height: 45px;
    width: 120px;
    margin: auto;
    font-family: "Semibold";
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    background-color: white;
}

.tryit_header{
    background: #FF6336;
    border-radius: 0px;
    height: 45px;
    width: 120px;
    font-family: "Semibold";
    border: none;
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #FFFFFF;
 }

 .flex {
    display: flex;
    align-items: center;
 }

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #FFFFFF;
}

.header_list {
    font-family: "Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.header_list > .item {
    margin-left: 51px;
}
.hr {
    color:#FFFFFF;
    margin: 0;
}

/* FIRST SECTION */

.image_1 {
    width: 500px ;
    padding-top: 22px;
}

.main_upper {
    display: flex;
    justify-content: space-evenly;
}

.part_one {
    padding-top: 129px;
    padding-bottom: 182px;
}

.title {
    font-family: "Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 51px;
    width: 550px;
}

.text {
    font-family: "Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 50px;
    width: 471px;
}

.text_small {
    font-family: "Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    padding-top: 25px;
}

.title_main {
    font-family: "Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    display: flex;
    width: 720px;
    margin-bottom: 85px;
}

.login{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    height: 60px;
    width: 160px;
    margin: auto;
    font-family: "Semibold";
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    background-color: white;
}

.tryit{
    background: #FF6336;
    border-radius: 0px;
    height: 60px;
    width: 160px;
    font-family: "Semibold";
    border: none;
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #FFFFFF;
    margin-right: 10px;
 }


/* SECOND SECTION */

.section-second {
    background: #FF9C7D;
    /* width: 1440px; */
}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 455px; */
    margin: 0 auto;
}

.title-second {
    font-family: "Semibold";
    font-size: 50px;
    line-height: 60px;
    width: 720px;
    color: #000000;
    margin-bottom: 82px;
}


.brand {
    display: flex;
    justify-content: space-around;
    margin-bottom: 104px;
    width: 1200px;
}

/* THIRD SECTION */

.fixsize-container {
    max-width: 1290px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container , 
.container-one , 
.container-two {
    max-width: 1290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 250px;
}


.container-three {
    max-width: 1290px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.imagem {
    margin-left: 100px;
    width: 500px;
}


.imagem_2 {
    margin-left: 100px;
    width: 500px;
}

.imagem_3 {
    margin-right: 100px;
    width: 500px;
}

.imagem_1 {
    margin-right: 100px;
}

.container.fixsizeme, 
.container-one.fixsizeme, 
.container-two.fixsizeme, 
.container-three.fixsizeme {
    display: flex;
    justify-content: space-between;
}

.title-second-one {
    font-family: "Semibold";
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 30px;
}

.text-three {
    width: 492px;
}

.text-third {
    font-family: "Regular";
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
}

.small-text-third {
    font-family: "Semibold";
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.imagem {
   
    width: 500px;
}

.section-three {
    padding-top: 90px;
}
/* SECTION FOUR */
.section-four {
    background-color: #FFF8E4;
    padding-top: 150px;
}

.fixsize-container-four {
    max-width: 1290px;
    margin: 0 auto;
}

.tasks {
    color: #000000;
}


.title-four {
    font-family: "Semibold";
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    padding-bottom: 79px;
}

.first-row {
    display: flex;
    justify-content: space-evenly;
}

.second-row {
    display: flex;
    justify-content: space-evenly;
    padding-top: 75px;
    padding-bottom: 142px;
}

.new-card {
    width: 310px;
    background: #FFF8E4;
    text-align: center;
}

.img-card {
    width: 120px;
    margin-bottom: 26px;
}

.title-card {
    font-family: "Semibold";
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.info {
    font-family: "Regular";
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

/* Section five */
.section-five {
   background-color: #FFFFFF;
   padding-top: 154px;
}

.fixsize-container-five {
    max-width: 1290px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    max-width: 1290px;
    justify-content: space-between;
}

.title-five {
    font-family: "Semibold";
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    /* text-align: center; */
}

.card-five {
    width: 410px;
}

/* section six */
.title-six {
    font-family: "Semibold";
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    padding-bottom: 34px;
}

.info-new  {
    font-family: "Regular";
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.link-card-info {
    font-family: "Regular";
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.link-card {
    font-family: "Regular";
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.managers {
    height: 201px;
    width: 145px;
    padding-bottom: 50px;
}

.developers {
    height: 166px;
    width: 179px;
    margin-bottom: 72px;
}

.translator {
    height: 183px;
    width: 179px;
    margin-bottom: 55px;
}

.section-six {
    background-color: #C9E8F2;
    margin-top: 187px;
    /* width: 1440px; */
}

.container-six {
    display: flex;
    max-width: 1290px;
    margin: 0 auto;
}

.quota {
    font-family: "Regular";
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    
}

.text-quota {
    font-family: "Regular";
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.revolut1 {
    height: 25px;
    width: 115.21632385253906px;
}

.photo {
    height: 310px;
    width: 310px;
    margin-top: 53px;

}

.text-six {
    margin-right: 60px;
    margin-top: 63px;
    margin-bottom: 165px;
}


/* Section ten */

.ten {
    background-color: #DABC98;
}

.cake {
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 87px;
}

.rated {
    font-family: "Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
    width: 461px;
    height: 100px;
    margin-right: 100px;
}

.tort {
    margin-right: 67px;
    width: 176px;
}

.dable {
    width: 481px;
}

/* Section eight */

.section-eight {
    background-color: #FFFFFF;
    padding-top: 165px;
    padding-bottom: 162px;
}

.container-eight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 162px;
}

.title-eight {
    font-family: "Semibold";
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
}

.text-eight {
    font-family: "Regular";
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    width: 539px;
}

.img-birds {
    height: 445px;
    width: 1023px;
}

.button {
    height: 60px;
    width: 193px;
    background-color: #FF6336;
    font-family: "Regular";
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
    border: none;
    margin-top: 32px;
}

/* Section nine */

.section-nine {
    background-color: #FF9C7D;
}

.title-nine {
    font-family: "Semibold";
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;

}

.info-nine {
    font-family: "Regular";
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 54px;
}

.button-try {
    height: 60px;
    width: 160px;
    background-color: #000000;
    border: none;
    font-family: "Semibold";
    font-size: 17px;
    line-height: 60px;
    color: #FFFFFF;
}

.wrap-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 119px;
    padding-bottom: 161px;
}

/* Footer */

.footer {
    background-color:#EEEEEE;
    padding-top: 92px;
    padding-bottom: 43px;
}

.bike {
    width: 300px;
    margin-bottom: 38.61px;
    margin-right: 140px;
}

.left_footer {
    display: flex;
    flex-direction: column;
    
}

.spc {
    width: 80px;
    margin-bottom: 24px;
}

.THIRTEEN {
    display: flex;
    justify-content: space-around;
}

.list_right {
    width: 176px;
}

.footer_title {
    font-family: "Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 21px;
}

.text_footer {
    font-family: "Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
}

.text_footer > .image1 {
    margin-bottom: 15px;
}

.h_footer {
    font-family: "Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 28px;
    color: #000000;
    
}

.foot_txt {
    font-family: "Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    width: 290px;
    margin-bottom: 15px;
}

.footer_read {
    font-family: "Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 95px;
}

.lowestest {
    display: flex;
    justify-content: space-between;
    padding-top: 52px;
    padding-bottom: 43px;
    align-items: center;
}

.lower_txt {
    font-family: "Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    width: 301px;
    margin-left: 14px;
}

.footer_left {
    display: flex;
    align-items: center;
}

.lower_txt_right {
    font-family: "Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    width: 109px;
    margin-right: 75px;
}

ul {
    padding-left: 0;
}

/* web adaptation  */

@media (max-width :1200px) {
                 
             
   .header.fix-size-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .main_upper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .biton {
        display: flex;
        justify-content: center;
    }

    .text {
        font-family: "Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        color: #000000;
        margin-bottom: 50px;
        width: 471px;
        text-align: center;
    }

    .brand {
        width: 545px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
        
    }

    .container  , .container-one , .container-two ,.container-three  {
        max-width: 1290px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-six {
        max-width: 1290px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .imagem {
        margin-left: 0;
        
    }
    
    
    .imagem_2 {
        margin-left: 0;
        
    }
    
    .imagem_3 {
        margin-right: 0;
        
    }
    
    .imagem_1 {
        margin-right: 0;
    }

    .container.fixsizeme, .container-one.fixsizeme, 
    .container-two.fixsizeme, .container-three.fixsizeme {
        max-width: fit-content;
    }
    
    .cake.fix-size-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cake {
        display: flex;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 87px;
    }
    
    .rated {
        font-family: "Semibold";
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 50px;
        color: #000000;
        width: 461px;
        height: 100px;
        margin-right: 0;
        text-align: center;
    }
    
    .tort {
        margin-right: 0;
        width: 176px;
    }

    .vertical {
        display: none;
    }
    
    .dable {
        width: 481px;
    }

    .bike {
        width: 300px;
        margin-bottom: 38.61px;
        margin-right: 10px;
    }

    .THIRTEEN {
        display: flex;
        justify-content: space-between;
    }
    
    .title {
        font-family: "Semibold";
        font-style: normal;
        font-weight: 600;
        font-size: 65px;
        line-height: 70px;
        color: #000000;
        margin-bottom: 51px;
        width: 550px;
        text-align: center;
    }
    
    .text_small {
        font-family: "Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #000000;
        padding-top: 25px;
        text-align: center;
    }
    
    .img-birds {
      width:auto;
    }

    .text-six {
        margin-right: 60px;
        margin-top: 63px;
        margin-bottom: 0;
        margin-left: 60px;
        text-align: center;
    }

    .photo {
        height: auto;
        max-width: 310px;
        margin-top: 20px;
    }

    .section-six {
        padding-bottom: 20px;
    }

    .section-five {
        background-color: #FFFFFF;
        padding-top: 154px;
     }
     
     .fixsize-container-five {
         max-width: 1290px;
         margin: 0 auto;
     }
     
     .wrap {
         display: flex;
         max-width: 1290px;
         justify-content: space-evenly;
         flex-wrap: wrap;
         
     }
     
     .title-five {
         font-family: "Semibold";
         font-size: 50px;
         line-height: 60px;
         color: #000000;
         text-align: center;
     }
     
     .card-five {
         width: 410px;
         margin-bottom: 50px;
     }

}

    @media (max-width: 900px) {

     .first-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .second-row {
        display: flex;
        flex-wrap: wrap;
    }


    .img-birds  {
        height: 445px;
        width: 800px !important; 
    }

    .title-eight {
        font-family: "Semibold";
        font-size: 10px;
        line-height: 75px;
        /* text-align: center; */
        color: #000000;
    }

}